<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="QASE Test Suite">

    <listeners>
        <listener class-name="tests.listeners.RetryListener"/>
        <listener class-name="tests.listeners.TestListener"/>
    </listeners>

    <test name="UI Tests">
        <classes>
            <class name="tests.ui.ChangeProfileSettingsTest"/>
            <class name="tests.ui.ForgotPasswordTest"/>
            <class name="tests.ui.LoginTest"/>
            <class name="tests.ui.ProjectSortingTest"/>
            <class name="tests.ui.ProjectTest"/>
            <class name="tests.ui.SuiteTest"/>
            <class name="tests.ui.TestCaseTest"/>
            <class name="tests.ui.TestPlanTest"/>
        </classes>
    </test>

    <test name="API Tests">
        <classes>
            <class name="tests.api.CaseAPITest"/>
            <class name="tests.api.ProjectAPITest"/>
        </classes>
    </test>

</suite>
